@model Nhom10ModuleDiemDanh.Models.CoSoViewModel

<div>
    <dl class="row">
        <dt class="col-sm-4">Tên cơ sở</dt>
        <dd class="col-sm-8">@Model.TenCoSo</dd>
        <dt class="col-sm-4">Mã cơ sở</dt>
        <dd class="col-sm-8">@Model.MaCoSo</dd>
        <dt class="col-sm-4">Trạng thái</dt>
        <dd class="col-sm-8">@Model.TrangThai</dd>
    </dl>
</div>